<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://oshiire-dev-ed.my.salesforce.com/lightning/lightning.out.js"></script>
    <script type="text/javascript">
      $Lightning.use("c:LtngOut",
      function() {
          $Lightning.createComponent("c:Test01", {}, "lightning");
      }, "<%- settings.instance_url %>", "<%- settings.access_token %>");
    </script>
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="lightning"></div>

  </body>
</html>
